* {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    padding: 0rem;
    gap: 2rem;
}

.text-block, 
ol, 
li {
    font-size: 2.2rem;
    margin: 0rem;
    line-height: 3rem;
    font-weight: 400;
}

.text-block:link {
    text-decoration: none;
}

.image {
    width: 80%;
    border: 0.5px solid black;
    /* border: 0px; */
}

.intro-header {
    font-size: 3rem;
    font-weight: 700;
    margin: 0rem;
    padding: 0rem;
}