* {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

    margin-top: 0.6rem;
    margin-bottom: 2.4rem;
    padding: 0rem;
    gap: 2rem;
}

.write-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 2rem;
}

.text-block, 
ol, 
li {
    font-size: 2rem;
    margin: 0rem;
    line-height: 3rem;
    font-weight: 400;
}

.text-block:link {
    /* text-decoration: none; */
}

.image {
    width: 80%;
    border: 0.5px solid black;
}

.intro-header {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    padding: 0rem;
    text-align: center;
}

.video-header, .write-up-header {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: -1.8rem;
    /* text-decoration-line: underline; */
}

.demo-video {
    border: 0.57px solid black;
    margin-top: 0.5rem;
}

.video-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}